:root {
    --background-color: #faf8f1;
    --text-color: #414141;
    --main-font: 'Urbanist', sans-serif;
    --heding-font: 'Changa', sans-serif;
    --button-font: 'Aboreto', cursive;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1,h2 {
    font-family: var(--heding-font);
    letter-spacing: 2px;
}

i {
    font-size: 30px;
    transition: font-size 1s;
}

i:hover {
    font-size: 50px;
}

.block-technologie {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}


.hero {
    text-align: center;
    padding: 100px 0px;
}

.greet {
    font-size: 24px;
}

.container p,
.container h3,
.container h4 {
    text-align: right;
}

.container img {
    filter: grayscale(95%) contrast(150%) brightness(100%);
    transition: filter 0.4s; 
}

.container img:hover {
    filter: none;
    
}

.double-prodject p,
.double-prodject h3,
.double-prodject h4 {
    text-align: left;
}

.prodject-description a {
    text-align: center;
}


@media (max-width: 720px) {
    .hero {
        padding: 40px 5px;
    }

    .greet {
        font-size: 18px;
    }

    .container p,
    .container h3,
    .container h4 {
         text-align: center;
    }

    a {
       display: block;
       margin: 0 auto;
    }

    .prodject-description {
        border: none;
    }


}