:root {
    --background-color: #faf8f1;
    --text-color: #414141;
    --main-font: 'Urbanist', sans-serif;
    --heding-font: 'Changa', sans-serif;
    --button-font: 'Aboreto', cursive;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

h1,h2 {
    font-family: var(--heding-font);
    letter-spacing: 2px;
}

.block-technologie i {
    font-size: 30px;
    transition: font-size 1s;
}

.block-technologie i:hover {
    font-size: 50px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--button-font);
}

nav ul {
    list-style: none;

}

nav li {
    margin-right: 20px;
}



.block-technologie {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.btn-contact {
    font-family: var(--button-font);
    padding: 8px 30px;
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 8px;
    transition: all 0.8s;
}



.hero {
    text-align: center;
    padding: 100px 0px;
}

.heding-cv {
    display: flex;
    flex-direction: column;
    padding:  20px 0px 0px 30px;
    align-items: flex-start;
    margin-top: 20px;
}

.heding-cv h1,
.heding-cv h2 {
    
}

.greet {
    font-size: 24px;
}

.logo {
    max-height: 50px;
}

.max-width-wrapper {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
}

.wrapper-page-cv {
    
    background: linear-gradient(to right, var(--background-color) 67%, var(--text-color) 33%);
    box-shadow: 11px 12px 32px 3px #40040440;
    font-size: 20px;
    
}

.container p,
.container h3,
.container h4 {
    text-align: right;
}

.container img {
    filter: grayscale(95%) contrast(150%) brightness(100%);
    transition: filter 0.3s; 
}

.cv-info-block {
    box-shadow: 0px 0px 20px 0px #01417D1A;

}

.contact-icons {
    list-style: none;
}

.contact-icons i {
    column-width: 50px;
}




.img-photo {
    filter: none !important;
    max-width: 200px;
}

.ic {
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    color: var(--text-color);
}

.ed-t {
    font-size: 18px;
    line-height: 20px;
    
}

.education-block {
    line-height: 1;
}

.first-pr:hover img {
    filter: none;
}

.list-subtitle {
    list-style: none;
    font-family: var(--heding-font);
    font-weight: 500;
    font-size: 22px;
}

.list-info {
    list-style: square;
    list-style-position: inside;
    font-size: 16px;
    line-height: 18px;
}

.let-work {
    font-family: var(--heding-font);
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: start;
}

.second-pr:hover img {
    filter: none;
}

.subtitle-1 {
    background-color: var(--text-color);
    color: white;
    font-family: var(--button-font);
    font-size: 20px;
    text-align: center;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px 5px;
}

.subtitle-2 {
    background-color: var(--text-color);
    color: white;
    font-family: var(--button-font);
    font-size: 20px;
    text-align: left;
    width: 95%;
    padding: 5px 0px 5px 20px;
    margin: 10px 0px;
}

.thidth-pr:hover img {
    filter: none;
}

.double-project p,
.double-project h3,
.double-project h4 {
    text-align: left;
}

.project-description a {
    text-align: center;
}

.project-tech-code {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.use-tech {
    font-family: var(--button-font);
    font-size: 12px;
    line-height: 12px;
}

.git-link a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    padding-right: 20px;
    line-height: 12px;
    opacity: 0.7;
}





@media (max-width: 760px) {
    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 14px;
    }

    

    .hero {
        padding: 30px 5px;
    }

    .heding-cv {
        display: none;
    }

    .greet {
        font-size: 22px;
    }

    .container p,
    .container h3,
    .container h4 {
         text-align: center;
    }

    a {
       display: block;
       margin: 0 auto;
    }


    .project-description {
        border: none !important;

    }

    .btn-project {
        display: flex !important;
        justify-content: center !important;
    }
    .btn-project a {
    padding: 8px 60px;
    }

    
    nav {
        display: flex;
        justify-content: flex-end;
    }

    .photo-block-cv {
        display: flex;
        
    }

    .hiding-heding {
        display: flex;
        flex-direction: column;
    }


    nav li {
        margin-right: 8px;
        
    }
    i {
        font-size: 18px;
    }
    
    i:hover {
        font-size: 20px;
    }

    .logo {
        max-height: 30px;
        margin-right: 15px;
        display: flex;
        position: absolute;
        left: 5px;
    }

    .my-contact {
        background-color: white;
        
    }

    .cv-info-block {
        box-shadow: none;
    }

    .subtitle-1 {
        text-align: left;
        width: 92%;
        margin-left: -10px;
        padding-left: 20px;
}

.img-photo {
   max-width: 160px; 
   padding-top: 40px;
}

.hiding-heding h2 {
    font-size: 20px;
}

}